@use '@angular/material' as mat;

@include mat.core();

$color: (
  primary: mat.define-palette(mat.$indigo-palette),
  accent: mat.define-palette(mat.$blue-palette),
  warn: mat.define-palette(mat.$red-palette),
);

$light-theme-config: (
  color: $color,
  typography: mat.define-typography-config(),
  density: 0,
);

$light-theme: mat.define-light-theme($light-theme-config);

@include mat.core-theme($light-theme);

// Apply light theme only to the used components.
@include mat.form-field-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.checkbox-theme($light-theme);
@include mat.tabs-theme($light-theme);
