/* Start of Josh's Custom CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* svg selector removed because it changes the size of
    Angular Material mat-select dropdown arrow */
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* End of Josh's Custom CSS Reset */

html,
body {
  min-height: 100%;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

ul,
ol {
  padding: 0;
}

li {
  display: block;
}

select {
  cursor: pointer;
}
